{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center mt-5 text-center">
        <div class="col-lg-6">
            <h1 class="mb-4">Welcome to the admin panel</h1>
            <div class="list-group fs-3">
                <a href="{{ url_for('admin.users') }}" class="list-group-item list-group-item-action">
                    User Management
                </a>
                <a href="{{ url_for('admin.keys') }}" class="list-group-item list-group-item-action">
                    Key Management
                </a>
            </div>
        </div>
    </div>

{% endblock %}
