{% extends "base.html" %}

{% import "macros/inputs.html" as inputs %}

{% block content %}
    <div class="row mt-5 justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <form action="{{ url_for('client.edit_app', client_id=client.client_id) }}" method="post">
                {{ form.csrf_token }}
                {{ inputs.render(form.name) }}
                {{ inputs.render(form.is_public) }}
                {{ inputs.render(form.generate_new_secret_key) }}
                {{ inputs.render(form.preferred_algorithm) }}
                {{ inputs.render(form.redirect_uris) }}
                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
